{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Customer Loyalty</h1>
  <ol class="breadcrumb">
      <li c><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
      <li class="active"><a href="#"><i class="fa fa-user"></i>Customers</a></li>

  </ol>
  {% include 'admin/daterange.html' %}
</section>
<section class="content">

  <!--TOP BAR STAT BOXES -->
  <div class="row">
    {% set aov = session['top_bar']['avg_order_value'] | round(2) %}
    {% set discounts = "${:,.2f}".format(session['top_bar']['discounts']) %}


  {{ parts.smallbox('Unique Customers', value=session['top_bar']['unique_customers'], color='bg-success' ) }}

  {{ parts.smallbox('Average Order Value', value=aov, color='bg-info' ) }}

  {{ parts.smallbox('Discounts', value=discounts, color='bg-warning') }}

  {{ parts.smallbox('Repeat Customers', value=session['top_bar']['repeat_customers'], color='bg-danger' )}}

  </div>
<!-- /.row -->
<!-- Main row -->

<div class="row">
  <div class="col-lg-12 col-12">

  <table id="customers" class="table table-striped table-bordered table-sm">
    <button onclick="exportTableToCSV('stockboy-report.csv')">Export Table To CSV</button>

    <thead>
        <tr>

            <th class="th-sm">Customer ID</th>
            <th class="th-sm">Name</th>
            <th class="th-sm">Email</th>
            <th class="th-sm">City</th>
            <th class="th-sm">State</th>
            <th class="th-sm">Orders</th>
            <th class="th-sm">Customer Value</th>

        </tr>
    </thead>
    <tbody >
      {% for customer in session['customer_sales_dict'].values() %}
        <tr>

            <td width="10%"><a href="./{{customer['customer_id']}}">{{customer['customer_id']}}</a></td>
            <td width="10%">{{customer['name']}}</td>
            <td width="10%">{{ customer['email'] }}</td>
            <td width="10%">{{ customer['city'] }} </td>
            <td width="10%">{{ customer['state'] }}</td>
            <td width="10%">{{ customer['orders'] }}</td>
            <td width="10%">$ {{ customer['sales'] | round(2)}}</td>

        </tr>

        {% endfor %}
    </tbody>
</table>
  </div>
</div>
</section>
{% endblock body %}
{% block tail %}
<script>
  $(document).ready(function () {
    $('#customers').DataTable({
     "paging": true, // false to disable pagination (or any other option)
     "order":[[6, "desc"]],
     'iDisplayLength' : 100,
     "language":{
       "search":"",
       "searchPlaceholder":"Search. . ."
      }
      });
  $('.dataTables_length').addClass('bs-select');
});
</script>

<script>
function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;
    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});
    // Download link
    downloadLink = document.createElement("a");
    // File name
    downloadLink.download = filename;
    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);
    // Hide download link
    downloadLink.style.display = "none";
    // Add the link to DOM
    document.body.appendChild(downloadLink);
    // Click download link
    downloadLink.click();
}
      function exportTableToCSV(filename) {
          var csv = [];
          var rows = document.querySelectorAll("table tr");
          for (var i = 0; i < rows.length; i++) {
              var row = [], cols = rows[i].querySelectorAll("td, th");
              for (var j = 0; j < cols.length; j++)
                  row.push('"'+cols[j].innerText+'"');
              csv.push(row.join(","));
          }
          // Download CSV file
          downloadCSV(csv.join("\n"), filename);
      }



</script>

{% endblock tail %}
