
<div class="date-picker col-6 float-right">
    <form id ='daterangeform' action="#" method="post">
      <label for="daterange"  class="col-form-label">Select Date Range</label>
        <input autocomplete="off" class="form-control" type="text" name="daterange" >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="submit" name="submit" id="date-submit" value="Go">
    </form>
    <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
            "alwaysShowCalendars": true,
            "autoApply": true,
            "startDate": "{{ session['start_date'] }}",
            "endDate": "{{ session['end_date'] }}"
        }, function(start, end, label) {
          $('#daterangeform submit').click()
        });
        });
    </script>
</div>
