{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Dashboard<br>
    <small>Top-level stats to give you an overview of your sales, shipments, products & customers</small>
  </h1>
  <ol class="breadcrumb">
      <li class="active"><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
  </ol>
  {% include 'admin/daterange.html' %}

</section>

<section class="content">

  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{results['top_bar']['total_sales']}}</h3>
          <p>Sales</p>
      </div>
      <div class="icon">
          <i class="ion ion-bag"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-info">
    <div class="inner">
      <h3>{{results['top_bar']['total_qty']}}<sup style="font-size: 20px">%</sup></h3>

      <p>Qty Sold</p>
  </div>
  <div class="icon">
      <i class="ion ion-stats-bars"></i>
  </div>
  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-warning">
    <div class="inner">
      <h3>{{results['top_bar']['shipped_to_amz']}}</h3>

      <p>Shipped to Amazon</p>
  </div>
  <div class="icon">
      <i class="ion ion-person-add"></i>
  </div>
  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-danger">
    <div class="inner">
      <h3>{{results['top_bar']['avg_burn']}}</h3>

      <p>Avg Burn Rate</p>
  </div>
  <div class="icon">
      <i class="ion ion-pie-graph"></i>
  </div>
  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
<!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
<canvas id='marketplace-pie'></canvas>

<canvas id='category-pie'></canvas>

<canvas id='sales-qty'></canvas>


</div>
{% endblock body %}

{% block tail %}

    <script>

      // line chart canvas

      var colors = [
      'rgba(140,225,175,1)','rgba(59,96,175,1)','rgba(254,167,112,1)', ' rgba(255,130,140,1)',
      'rgba(140,225,175,.8)','rgba(59,96,175,.8)','rgba(254,167,112,.8)', ' rgba(255,130,140,.8)',
      'rgba(140,225,175,.5)','rgba(59,96,175,.5)','rgba(254,167,112,.5)', ' rgba(255,130,140,.5)',
      ]
      //var gradientFill = mychart.createLinearGradient(0,500,0,300);
      //gradientFill.addColorStop(0, "rgba(56, 96, 175, 0.5)");
      //gradientFill.addColorStop(1, "rgba(56, 96, 175, 0.7)");
      // draw bar chart
      //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
      //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
      //gradientFill.addColorStop(0, "rgba(84,184,143,0.6)");
      //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");


      var market_pie = document.getElementById('marketplace-pie').getContext('2d');



      var marketpiedata = {
        labels : [
          {% for store in results['store_sales_dict'].values() %}
            '{{ store['name'] }}',
          {% endfor %}
        ],
        datasets : [{

          data :
          [ {% for store in results['store_sales_dict'].values() %}
              {{ store['sales'] }},
            {% endfor %}
          ],
          backgroundColor: colors
        }
  ],
  label:'Sales by Marketplace',


      }
      var marketplace_piechart =  {
        type:'pie',
        data:marketpiedata,
        options: {
          responsive: true
        }

      };



      var MarketPieChart = new Chart(market_pie, marketplace_piechart)
    </script>

    <script>

      // line chart canvas

      //var gradientFill = mychart.createLinearGradient(0,500,0,300);
      //gradientFill.addColorStop(0, "rgba(56, 96, 175, 0.5)");
      //gradientFill.addColorStop(1, "rgba(56, 96, 175, 0.7)");
      // draw bar chart
      //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
      //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
      //gradientFill.addColorStop(0, "rgba(84,184,143,0.6)");
      //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
      var category_pie = document.getElementById('category-pie').getContext('2d');

      var categorypiedata = {
        labels : [
          {% for category in results['category_sales_dict'].values() %}
            '{{ category['name'] }}',
          {% endfor %}
        ],
        datasets : [{

          data : [
      {% for category in results['category_sales_dict'].values() %}
              {{ category['sales'] }},
            {% endfor %}]
          ,
          backgroundColor: colors}
  ],
  label:'Sales by Category',
  backgroundColor: [
  'rgba(140,225,175,1)','rgba(59,96,175,1)','rgba(33,125,187,1)','rgba(255,130,140,1)'
  ]

      }
      var category_piechart =  {
        type:'pie',
        data:categorypiedata,
        options: {
          responsive: true
        }

      };



      var CategoryPieChart = new Chart(category_pie, category_piechart)
    </script>

    <script>

      // line chart canvas

      //var gradientFill = mychart.createLinearGradient(0,500,0,300);
      //gradientFill.addColorStop(0, "rgba(56, 96, 175, 0.5)");
      //gradientFill.addColorStop(1, "rgba(56, 96, 175, 0.7)");
      // draw bar chart
      //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
      //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
      //gradientFill.addColorStop(0, "rgba(84,184,143,0.6)");
      //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
      var saleschartelement = document.getElementById('sales-qty').getContext('2d');

      var saleschartdata = {
        labels : [  {% for label in results['date_range_labels']%}

        {{ label }},
        {% endfor %}
      ],
        datasets : [{

          data : [
          {% for year in results['sales_by_day_dict'].values() %}
          {% for month in year.values() %}
          {% for day in month.values() %}
            {{ day }},
          {% endfor %}
          {% endfor %}
          {% endfor %}
            ],
          backgroundColor: colors}
  ],
  label:'Sales by Day',
  backgroundColor: [
  'rgba(140,225,175,1)','rgba(59,96,175,1)','rgba(33,125,187,1)','rgba(255,130,140,1)'
  ]

      }
      var sales_qty_chart =  {
        type:'line',
        data:saleschartdata,
        options: {
          responsive: true
        }

      };



      var SalesQtyChart = new Chart(saleschartelement,sales_qty_chart)
    </script>


{% endblock tail %}
