{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->


<section class="content" id="inventory-index">
  <div class="row">
    <!-- Left col -->
    <section class="container">
        <section class="content-header">
                <h1>Inventory</h1>
                  <small>Current Stock Levels, Sell-Through Rate, Inventory Value & Days of Inventory</small>
          <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
              <li class="active">Inventory</li>
          </ol>
        </section>
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ "{:,.0f}".format(results['top_bar']['total_inventory']) }}</h3>
                  <p>Total Inventory</p>
              </div>
              <div class="icon">
                  <i class="ion ion-pricetag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>${{"{:,.2f}".format(results['top_bar']['total_value'])}}</h3>

              <p>Inventory Value</p>
          </div>
          <div class="icon">
              <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{results['top_bar']['total_skus']}}</h3>

              <p>SKUs</p>
          </div>
          <div class="icon">
              <i class="ion ion-filing"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{"{:,.1f}".format(results['top_bar']['total_days'])}}</h3>
              <p>Avg. Days</p>
          </div>
          <div class="icon">
              <i class="ion ion-bonfire"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <table id="dtBasicExample" class="table table-striped table-bordered table-sm">
            <button onclick="exportTableToCSV('stockboy-report.csv')">Export Table To CSV</button>

            <thead>
                <tr>
                    <th class="th-sm">Sku</th>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Local Stock</th>
                    <th class="th-sm">Avg Cost</th>
                    <th class="th-sm">Amz Warehouse</th>
                    <th class="th-sm">Qty Sold (45 Days)</th>
                    <th class="th-sm">Inventory Days</th>



                </tr>
            </thead>
            <tbody >
              {% for item in results['inventory_results_dict'].values() %}
                <tr>
                    <td>{{item['SKU']}}
                    <br><img width="100px" src="{{item['img']}}"</td>
                    <td width="50%"><a href="../product/{{item['SKU']}}">{{item['name']}}</a></td>
                    <td width="10%">{{"{:,.0f}".format(item['stock'])}}</td>
                    <td width="10%">${{item['cost']}}</td>
                    <td width="10%">{{item['fba']}}</td>
                    <td width="20%">{{item['sold']}}</td>
                    <td width="20%">{{"{:,.1f}".format(item['days'])}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
          </div>

    </section>
    <!-- /.Left col -->

  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->
{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Flask-Admin example</h1>
      <p class="lead">
        Authentication
      </p>
      <p>
        This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
      </p>
      {% if not current_user.is_authenticated %}

      <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

        email: <b>admin</b> <br>
        password: <b>admin</b> <br>
        <br>
        <p>
          <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
        </p>
        {% endif %}
        <br>
        <p>
          <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </p>
      </div>
    </section>
  </center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  {% endif %}

  {% endblock body %}

  {% block tail %}
  <script>
    $(document).ready(function () {
      $('#dtBasicExample').DataTable({
       "paging": true, // false to disable pagination (or any other option)
       "order":[[5, "desc"]],
       'iDisplayLength' : 100,
       "language":{
         "search":"",
         "searchPlaceholder":"Search. . ."
        }
        });
    $('.dataTables_length').addClass('bs-select');
  });
  </script>
  <script>
  function downloadCSV(csv, filename) {
      var csvFile;
      var downloadLink;
      // CSV file
      csvFile = new Blob([csv], {type: "text/csv"});
      // Download link
      downloadLink = document.createElement("a");
      // File name
      downloadLink.download = filename;
      // Create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);
      // Hide download link
      downloadLink.style.display = "none";
      // Add the link to DOM
      document.body.appendChild(downloadLink);
      // Click download link
      downloadLink.click();
  }
        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");
                for (var j = 0; j < cols.length; j++)
                    row.push('"'+cols[j].innerText+'"');
                csv.push(row.join(","));
            }
            // Download CSV file
            downloadCSV(csv.join("\n"), filename);
        }
  </script>
  {% endblock tail %}
