<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>

{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

{% set ssd = session['sku_sales_dict']  %}
{% set fba_dict = session['fba_dict'] %}
{% set inventory_dict = session['inventory_dict'] %}
{% set product_dict = session['product_dict'] %}
{% set top_bar = session['top_bar']  %}



<!-- Content Header (Page header) -->
<section class="content-header">
  <ol class="breadcrumb">
    <li><a href="../../"><i class="fa fa-dashboard"></i>Dashboard</a></li>
    <li><a href="../"><i class="fa fa-shopping-bag"></i>Products</a></li>
    <li class="active">{{sku}}</li>  </ol>

    <h1 style="clear:both;">
      {% if sku in ssd %}<img class="product-image float-left" width="150px" src="{{ssd[sku]['img']}}">
      {{product_dict[sku]['name']}}
      {% endif %}
    </h1>
    <h4><a class='fa fa-barcode' onclick="window.open('./barcode/{{sku}}', '_blank', 'location=yes,height=370,width=420,scrollbars=no,status=yes');"> Print Barcode</a></h4>
    <h4>Inventory Days: {{"{:,.1f}".format(top_bar['days']) }}</h4>
    <h4>Lifetime Sales: </h4>
    <h4>Lifetime Qty: </h4>
    <h4>Lifetime Gross Profit: </h4>

    {% include 'admin/daterange.html' %}
    <br><br><hr style="clear:both;"><br>
<h2>Product Details</h2>
<div class="col-sm-4 float-left">
  <h4 style="border-bottom:#000 1px solid">Listing</h4>
  <h5>Created: {{product_dict[sku]['createDate']}}</h5>
  <h5>Category: {{product_dict[sku]['productCategory']['name']}}</h5>
  <h5>Weight: {{product_dict[sku]['weight']}}</h5>
  <h5>Dimensions: {{product_dict[sku]['height']}} x {{product_dict[sku]['width']}} x {{product_dict[sku]['length']}}</h5>
  {% if sku in fba_dict %}
    <h5>Fullfillment SKU: {{fba_dict[sku]['SellerSKU']}} </h5>
    <h5>ASIN: <a href="https://www.amazon.com/gp/product/{{fba_dict[sku]['ASIN']}}">{{fba_dict[sku]['ASIN']}}</a></h5>
  {% endif %}
  </div>
  <div class="col-sm-4 float-left">
  <h4 style="border-bottom:#000 1px solid">Inventory</h4>
  {% if sku in inventory_dict.keys() %}
  <h5>Cost: ${{session['inventory_results_dict'][sku]['cost']}}</h5>

  <h5>Local Stock: {{"{:,.0f}".format(inventory_dict[sku]['Available'])}}</h5>
  {% endif %}

  <h5>Stock Value: ${{"{:,.2f}".format(session['top_bar']['total_stock_value'])}} </h5>

  {% if sku in fba_dict %}
  <h5>FBA Network In stock: {{fba_dict[sku]['InStockSupplyQty']}}</h5>
  {% endif %}

  </div>
  <div class="col-sm-4 float-left">
    <h4 style="border-bottom:#000 1px solid">Purchasing</h4>
    <div id="supplier_details_static">
      <button id="supplier_edit">Edit</button>

        <h5>Supplier: {{ product_dict[sku]['supplier_name'] }}</h5>
          <h5>Model #: {{ product_dict[sku]['model_no']}}</h5>
          <h5>Lead Time (Days): {{product_dict[sku]['lead_time'] }}</h5>
          <h5>Min Order Qty: {{product_dict[sku]['moq'] }}</h5>
          <!--<h5>Ignore Restock Alerts:</h5>-->
          <h5>Notes:{{product_dict[sku]['notes']}}</h5>
      </div>

      <form id="supplier_details" style="display:none;">
        <div class="form-group">


{{supplierselect.supplier()}}

    {{ supplierselect.product_id(value=product_dict[sku]['_id'], class="form-control") }}
    <h5>Model #: {{ supplierselect.model_no(value=product_dict[sku]['model_no'], class="form-control") }}</h5>
    <h5>Lead Time (Days): {{supplierselect.lead_time(value=product_dict[sku]['lead_time'], class="form-control") }}</h5>
    <h5>Min Order Qty: {{supplierselect.moq(value=product_dict[sku]['moq'], class="form-control") }}</h5>
    <!--<h5>Ignore Restock Alerts:</h5>-->
    <h5>Notes:{{supplierselect.notes(class="form-control")}}</h5>

    {{ supplierselect.hidden_tag() }}
    <button id="supplier_edit_close">Close</button>

    <span class="saved-text" style="display:none;">Saved!</span>

    </form>

  </div>

</section>


<section class="content">

  <!--TOP BAR STAT BOXES -->
  <div class="row">
{% import 'admin/parts.html' as parts %}
  {% if sku in ssd %}
  {% set value = '$'+ "{:,.2f}".format(session['sku_sales_dict'][sku]['sales']) %}
  {{ parts.smallbox('Sales', value=value, color='bg-success' )}}

  {{ parts.smallbox('Qty Sold', value="{:,}".format(session['sku_sales_dict'][sku]['qty']), color='bg-info' )}}

  {{ parts.smallbox('Shipped to Amazon', value="{:,}".format(session['top_bar']['shipped_to_amz']), color='bg-warning' )}}

  {{ parts.smallbox('Avg. Qty / Day', value="{:,.2f}".format(session['sku_sales_dict'][sku]['burn']), color='bg-danger' )}}


  {% else %}
  {{ parts.smallbox('Sales', value='0', color='bg-success' )}}
  {{ parts.smallbox('Qty Sold', value='0', color='bg-info' )}}
  {{ parts.smallbox('Shipped to Amazon', value="{:,}".format(session['top_bar']['shipped_to_amz']), color='bg-warning' )}}
  {{ parts.smallbox('Avg. Qty / Day', value='0', color='bg-danger' )}}


  {% endif %}

<!-- ./col -->


</div>
        <!-- /.row -->
        <!-- Main row -->

        <canvas id="chart"></canvas>
        <hr>
        <div class="row col-12">

        {% if 'order_list' in ssd[sku] %}

        <div class="col-md-4 col-4">
          <h3>Orders With this Item</h3>
        <table id="orders-table" class="table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Shipped To</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for order_id in ssd[sku]['order_list'] %}
            <tr>
            <td width="33%">
              <a href="../sales/orders/{{order_id}}">
                {{order_id}}
              </a>
            </td>
            <td width="33%">
              {{session['orders_dict'][order_id]['shipTo']['name']}}
            </td>
            <td width="33%">
              {{session['orders_dict'][order_id]['orderTotal']}}
            </tr>
            {% endfor %}
          </tbody>
          </table>
          </div>
        {% endif %}

          <div class="col-md-8 col-8">
            <h3>Sales by Store</h3>
          <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Qty</th>
                    <th>Sales</th>
                </tr>
            </thead>
            <tbody>
              {% for store in session['store_sales_dict'].values() %}
                <tr>
                    <td width="25%">{{store['name']}}</td>
                    <td width="15%">{{store['qty']}}</td>
                    <td width="25%">${{"{:,.2f}".format(store['sales']) }}</td>

                </tr>
                {% endfor %}
            </tbody>
          </table>
            <canvas id="pie_chart_markets"></canvas>
          </div>
          </div>
    <!-- /.Left col -->

  </section>

<!-- /.content -->
{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Flask-Admin example</h1>
      <p class="lead">
        Authentication
      </p>
      <p>
        This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
      </p>
      {% if not current_user.is_authenticated %}

      <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

        email: <b>admin</b> <br>
        password: <b>admin</b> <br>
        <br>
        <p>
          <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
        </p>
        {% endif %}
        <br>
        <p>
          <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </p>
      </div>
    </section>
  </center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  {% endif %}

  {% endblock body %}

  {% block tail %}

  {{ parts.chartglobals() }}
  {{ parts.piechart(dict=session['store_sales_dict'], label_key='name', value_key='sales', element="markets", round=True)}}
  <script>
      // line chart canvas
      var mychart = document.getElementById("chart").getContext("2d");

              // bar chart data

              var gradientFill = mychart.createLinearGradient(0,500,0,300);
              gradientFill.addColorStop(0, "rgba(56, 96, 175, 0.5)");
              gradientFill.addColorStop(1, "rgba(56, 96, 175, 0.7)");
              // draw bar chart
              //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
              //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
              //gradientFill.addColorStop(0, "rgba(84,184,143,0.6)");
              //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");

              var lineData = {
                labels : [
                  {% for label in session['date_range_labels'] %}
                    '{{ label }}',
                  {% endfor %}
                ],
                datasets : [{
                  backgroundColor: gradientFill,
                  pointBackgroundColor: "rgba(56, 96, 175, 1)",
                  pointRadius:3,
                  pointPadding: 3,
                  lineTension: 0.3,

                  data : [
                  {% for year in session['by_day_dict'].values() %}
                  {% for month in year.values() %}
                  {% for day in month.values() %}
                    {{ day['meta']['sales'] | round(2)}},
                  {% endfor %}
                  {% endfor %}
                  {% endfor %}

        ]  }
  ]
      }
      var LineChartDemo = new Chart(mychart, {
        type:'line',
        data:lineData,
        options: {
        pointHitRadius: 100,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
        responsive: true,
        legend:{
          display: false,
        },
        scales: {
          yAxes:[{
            ticks:{

              beginAtZero: true
            }
          }]
        },
        tooltips: {
             callbacks: {
                 label: function(tooltipItems, data) {
                     return '$' +tooltipItems.yLabel.toFixed(2);
                 }
             }
         }

      }
      });





    </script>

  <script>
    $(document).ready(function () {
      $('#orders-table').DataTable({
       "paging": true, // false to disable pagination (or any other option)
       "order":[[2, "desc"]],
       'iDisplayLength' : 25,
       "language":{
         "search":"",
         "searchPlaceholder":"Search. . ."
        }
        });
    $('.dataTables_length').addClass('bs-select');
  });
  </script>
  {% endblock tail %}
