{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" />

<link href="../../static/css/datatables.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

<style>
  table.dataTable thead>tr>td.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc {
  padding-right: 30px
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  position: absolute;
  bottom: .9em;
  display: block;
  opacity: .3
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  content: "\f0de";
  font-family: FontAwesome;
  font-size: 1rem
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
  content: "\f0dd";
  font-family: FontAwesome;
  right: 16px;
  font-size: 1rem
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
  opacity: 1
}

table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0
}
</style>



{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->


<section class="content">

  <div class="row">
    <!-- Left col -->
    <section class="container">
        <section class="content-header">

          <ol class="breadcrumb">
              <li><a href="../../"><i class="fa fa-dashboard"></i>Dashboard</a></li>
              <li><a href="../"><i class="fa fa-shopping-bag"></i>Products</a></li>
              <li class="active">{{product_details['sku']}}</li>
          </ol>
          <div class="date-picker col-xs-3">
            <form class="float-right inline-block" id ='daterangeform' action="{{product_details['sku']}}" method="post">
              <label for="daterange"  class="col-2 col-form-label">Select Date Range</label>
                <input class="form-control" type="text" name="daterange" >
                <input type="submit" name="submit" id="date-submit" value="Go">
            </form>
            <script>
            $(function() {
              $('input[name="daterange"]').daterangepicker({
                ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
                "alwaysShowCalendars": true,
                "autoApply": true,
                "startDate": "{{startdate}}",
                "endDate": "{{enddate}}"
            }, function(start, end, label) {
              $('#daterangeform submit').click()
            });
            });
            </script>
          </div>
          <div class="col-lg-12">
            <img class="product-image" width="150px" src={{product_details['img']}}>

                <h1>{{product_details['name']}}</h1>
                  <small>Gross Sales for product: {{product_details['sku']}}</small>


        </section>
        <section class="content">

          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>${{"{:,.2f}".format(top[0])}}</h3>
                  <p>Sales</p>
              </div>
              <div class="icon">
                  <i class="ion ion-pricetag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{"{:,}".format(top[1])}}</h3>

              <p>Qty Sold</p>
          </div>
          <div class="icon">
              <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{"{:,}".format(top[2])}}</h3>

              <p>Shipped to Amazon</p>
          </div>
          <div class="icon">
              <i class="ion ion-filing"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{"{:,}".format(top[3])}}</h3>

              <p>Avg. Qty / Day</p>
          </div>
          <div class="icon">
              <i class="ion ion-bonfire"></i>
          </div>
          <a href="#" class="small-box-footer">QTY/Day <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <canvas id="chart"></canvas>
          <table id="dtBasicExample" class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Name</th>
                    <th>Sales</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody >
              {% for item in orders %}
                <tr>
                    <td width="25%">{{item[0]}}</td>
                    <td width="50%">{{item[1]}}</td>
                    <td width="15%">${{item[2]}}</td>
                    <td width="10%">{{item[3]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
          </div>

    </section>
    <!-- /.Left col -->

  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->
{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Flask-Admin example</h1>
      <p class="lead">
        Authentication
      </p>
      <p>
        This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
      </p>
      {% if not current_user.is_authenticated %}

      <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

        email: <b>admin</b> <br>
        password: <b>admin</b> <br>
        <br>
        <p>
          <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
        </p>
        {% endif %}
        <br>
        <p>
          <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </p>
      </div>
    </section>
  </center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  {% endif %}

  {% endblock body %}
  {% block tail_js %}
  <!-- jQuery 2.2.3 -->

    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js'></script>

  <script type="text/javascript" src="../../static/js/datatables.min.js"></script>
  <!-- jQuery UI 1.11.4 -->

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ admin_static.url(filename='vendor/select2/select2.min.js', v='3.5.2') }}" type="text/javascript"></script>

    {% if admin_view.extra_js %}
    {% for js_url in admin_view.extra_js %}
    <script src="{{ js_url }}" type="text/javascript"></script>
    {% endfor %}
    {% endif %}

    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

    <!-- Sparkline -->
    <script src="{{url_for('static',filename='plugins/sparkline/jquery.sparkline.min.js')}}"></script>
    <!-- jvectormap -->
    <script src="{{url_for('static',filename='plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
    <script src="{{url_for('static',filename='plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
    <!-- jQuery Knob Chart -->
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="{{url_for('static',filename='plugins/daterangepicker/daterangepicker.js')}}"></script>
    <!-- datepicker -->
    <script src="{{url_for('static',filename='plugins/datepicker/bootstrap-datepicker.js')}}"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{{url_for('static',filename='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}"></script>
    <!-- Slimscroll -->
    <script src="{{url_for('static',filename='plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{url_for('static',filename='plugins/fastclick/fastclick.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{url_for('static',filename='js/app.min.js')}}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{url_for('static',filename='js/demo.js')}}"></script>
    {% if admin_view.name=="Home" %}
      <script src="{{url_for('static',filename='js/pages/dashboard.js')}}"></script>
    {% endif %}

      <script>


        Chart.defaults.global.animationSteps = 25;
        Chart.defaults.global.tooltips.YPadding = 50;
        Chart.defaults.global.tooltips.titleFontSize = 20;
        Chart.defaults.global.tooltips.bodyFontSize = 20;
        Chart.defaults.global.tooltips.displayColors = false;
        Chart.defaults.global.tooltips.CornerRadius = 2;
        Chart.defaults.global.tooltips.TitleFontStyle = "normal";
        Chart.defaults.global.tooltips.FillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "linear";
        Chart.defaults.global.responsive = true;



        // get bar chart canvas
        var mychart = document.getElementById("chart").getContext("2d");
        steps = 10
        max = {{ max }}

                // bar chart data

        var gradientFill = mychart.createLinearGradient(0,500,0,300);
        gradientFill.addColorStop(0, "rgba(84, 184, 143, 0.3)");
        //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
        gradientFill.addColorStop(1, "rgba(84, 184, 143, 0.6)");
        // draw bar chart
        //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");
        //gradientFill.addColorStop(0, "rgba(84,184,143,0.6)");
        //gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.6)");

        var lineData = {
          labels : [
            {% for item in labels %}
              "{{ item }}",
            {% endfor %}
          ],
          datasets : [{
            backgroundColor: gradientFill,
            pointBackgroundColor: "rgba(84, 184, 143, 0.8)",
            pointRadius:3,
            pointPadding: 3,
            lineTension: 0.3,

            data : [
  	    {% for item in values %}
                {{ item }},
              {% endfor %}]
            }
  	]
        }

        var LineChartDemo = new Chart(mychart, {
          type:'line',
          data:lineData,
          options: {
          pointHitRadius: 100,
          scaleShowVerticalLines: true,
          scaleShowGridLines : true,
          barShowStroke : true,
          scaleShowLabels: true,
          bezierCurve: false,
          responsive: true,
          legend:{
            display: false,
          },
          scales: {
            yAxes:[{
              ticks:{
                beginAtZero: true
              }
            }]
          },

          tooltips: {
               callbacks: {
                   label: function(tooltipItems, data) {
                       return '$' +tooltipItems.yLabel;
                   }
               }
           }


        }
        });
      </script>
      <script>
        $(document).ready(function () {
          $('#dtBasicExample').DataTable({
           "paging": false, // false to disable pagination (or any other option)
           "order":[[3, "desc"]],
           "searching": false
            });
        $('.dataTables_length').addClass('bs-select');
      });

      </script>
  {% endblock tail_js%}

  {% block tail %}
  {% endblock tail %}
