{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Cost of Goods Sold</h1>
  <ol class="breadcrumb">
      <li><a href="../../"><i class="fa fa-dashboard"></i>Dashboard</a></li>
      <li><a href="../"><i class="fa fa-area-chart"></i>Sales</a></li>
      <li class="active"><i class="fa fa-cog"></i> COGs</li>


  </ol>
  {% include 'admin/daterange.html' %}
</section>

<section class="content">
  <!--TOP BAR STAT BOXES -->
  <div class="row">
  {% set cogs = "${:,.2f}".format(session['top_bar']['total_cogs']) %}
  {% set qty = "{:,.0f}".format(session['top_bar']['total_qty']) %}
  {% set gross = "${:,.2f}".format(session['top_bar']['total_gross']) %}
  {% set cpd = "${:,.2f}".format(session['top_bar']['cost_per_day']) %}

  {{ parts.smallbox('Cost of Goods Sold', value=cogs, color='bg-success' )}}
<!-- ./col -->

{{ parts.smallbox('Qty Sold', value=qty, color='bg-info') }}

{{ parts.smallbox('Gross Profit', value=gross, color='bg-warning' ) }}

{{ parts.smallbox('Cost Per Day', value=cpd, color='bg-danger' ) }}

</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">

<canvas id='line_chart_sales_qty'></canvas>

</div>
<div class="row">
  <div class="col-12 col-lg-12">
  <table id="sales-by-sku" class="table table-striped table-bordered table-sm">
    <button onclick="exportTableToCSV('stockboy-report.csv')">Export Table To CSV</button>

    <thead>
        <tr>

            <th class="th-sm">Sku</th>
            <th class="th-sm">Name</th>
            <th class="th-sm">QTY Sold</th>
            <th class="th-sm">Cost</th>
            <th class="th-sm">Gross Profit</th>
            <th class="th-sm">Cost Per Day</th>

        </tr>
    </thead>
    <tbody >
      {% for item in session['sku_sales_dict'].values() %}
        <tr>

            <td width="10%">{{item['sku']}}
            <br><img width="100px" src="{{item['img']}}"</td>
            <td width="40%"><a href="../../product/{{item['sku']}}">{{item['name']}}</a></td>
            <td width="10%">{{ item['qty'] }}</td>
            <td width="10%">${{ "{:,.2f}".format(item['cogs']) }}</td>
            <td width="10%">$ {{ "{:,.2f}".format(item['gross']) }} </td>
            <td width="10%">${{ "{:,.2f}".format(item['daily_cost']) }}</td>

        </tr>


        {% endfor %}
    </tbody>

</table>
  </div>
</div>
{% endblock body %}
{% block tail %}

{{ parts.chartglobals() }}

    <script>
      // line chart canvas
      var saleschartelement = document.getElementById('line_chart_sales_qty').getContext('2d');

      var gradientFill = saleschartelement.createLinearGradient(0,500,0,300);
      gradientFill.addColorStop(0, "rgba(56, 96, 175, 0.5)");
      gradientFill.addColorStop(1, "rgba(56, 96, 175, 0.7)");


      var saleschartdata = {
        labels : [
        {% for label in session['date_range_labels']%}
        "{{ label }}",
        {% endfor %}
      ],
        datasets : [{
          type: 'line',
          label:'Cost',
          backgroundColor: gradientFill,
          pointBackgroundColor: "rgba(56, 96, 175, .8)",
          pointRadius:3,
          pointPadding: 1,
          lineTension: 0.25,
          data : [
          {% for year in session['by_day_dict'].keys() %}
          {% for month in session['by_day_dict'][year].keys() %}
          {% for day in session['by_day_dict'][year][month].keys() %}
            {{ session['by_day_dict'][year][month][day]['meta']['cogs'] | round(2)}},
          {% endfor %}
          {% endfor %}
          {% endfor %}
        ]
          }
        ]
      };

      var sales_qty_chart =  {
        type:'bar',
        data:saleschartdata,
        options: {
          pointHitRadius: 100,
          scaleShowVerticalLines: true,
          scaleShowGridLines : true,
          barShowStroke : true,
          scaleShowLabels: true,
          bezierCurve: false,
          responsive: true,
          legend:{
            display: false,
          },
          scales: {
            yAxes:[{
              ticks:{

                beginAtZero: true
              }
            }]
          },
          tooltips: {
            mode: 'index',
            intersect: false,
            backgroundColor:'rgba(38,38,38,1)',

            cornerRadius: 0,
            bodyFontSize: 16,
            titleFontSize: 20,
            borderColor:'rgba(0,0,0,.5)',
            borderWidth:1
           }
        }

        };

      var SalesQtyChart = new Chart(saleschartelement,sales_qty_chart)

    </script>
    <script>
      $(document).ready(function () {
        $('#sales-by-sku').DataTable({
         "paging": true, // false to disable pagination (or any other option)
         "order":[[4, "desc"]],
         'iDisplayLength' : 100,
         "language":{
           "search":"",
           "searchPlaceholder":"Search. . ."
          }
          });
      $('.dataTables_length').addClass('bs-select');
    });
    </script>

    <script>
    function downloadCSV(csv, filename) {
        var csvFile;
        var downloadLink;
        // CSV file
        csvFile = new Blob([csv], {type: "text/csv"});
        // Download link
        downloadLink = document.createElement("a");
        // File name
        downloadLink.download = filename;
        // Create a link to the file
        downloadLink.href = window.URL.createObjectURL(csvFile);
        // Hide download link
        downloadLink.style.display = "none";
        // Add the link to DOM
        document.body.appendChild(downloadLink);
        // Click download link
        downloadLink.click();
    }
          function exportTableToCSV(filename) {
              var csv = [];
              var rows = document.querySelectorAll("table tr");
              for (var i = 0; i < rows.length; i++) {
                  var row = [], cols = rows[i].querySelectorAll("td, th");
                  for (var j = 0; j < cols.length; j++)
                      row.push('"'+cols[j].innerText+'"');
                  csv.push(row.join(","));
              }
              // Download CSV file
              downloadCSV(csv.join("\n"), filename);
          }

          JsBarcode(".barcode").init();

    </script>


{% endblock tail %}
