{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<style type="text/css">
.main-sidebar {display:none;}
.content-wrapper, .main-footer {width:50%;margin-left:25%; margin-right:25%; }

</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Step 3, You Made It!</h1>
    <p>Last, we need your Alias List. This lets us know what store SKU matches which Product SKU in ShipStation.</p>
</section>
<section class="content">
  <div class="row col-12 mx-auto">
  <div class="col-12 col-lg-12">
  <h2>Upload your Product Alias Report (<a href="https://ss6.shipstation.com/#/dashboard/report/ProductAliasExtract" target="_blank">Get it Here</a>)</h2>
  <ul>
    <li>Select "All Product SKUs"</li>
    <li>Leave Store Blank</li>
    <li>Export to Excel</li>

    </ul>
  <form id="ss_api_form" method="POST" enctype="multipart/form-data">
    {{ aliasupload.file }}

    {{ aliasupload.hidden_tag() }}
    <div class="float-right">
    {{ aliasupload.submit }}
    </div>
  </form>
  <!--TOP BAR STAT BOXES -->
  <hr>
</div>
</div>

</section>
{% endblock body %}
{% block tail %}


{% endblock tail %}
