{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->


<section class="content" id="inventory-index">
  <div class="row">
    <!-- Left col -->
    <section class="container">
        <section class="content-header">
                <h1>Suppliers</h1>
          <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
              <li><a href="#"><i class="fa fa-dashboard"></i>Inventory</a></li>
              <li class="active">Suppliers</li>
          </ol>
        </section>
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{session['top_bar']['supplier_count']}}</h3>
                  <p>Suppliers</p>
              </div>
              <div class="icon">
                  <i class="ion ion-pricetag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>${{ "{:,.2f}".format(session['top_bar']['supplier_average_cost']) }}</h3>

              <p>Average Cost</p>
          </div>
          <div class="icon">
              <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>${{ "{:,.2f}".format(session['top_bar']['supplier_average_first_cost'])}}</h3>

              <p>Average First Cost</p>
          </div>
          <div class="icon">
              <i class="ion ion-filing"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{session['top_bar']['supplier_average_lead_time'] | round(2)}} Days</h3>
              <p>Avg. Lead Time</p>
          </div>
          <div class="icon">
              <i class="ion ion-bonfire"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
        <!-- ./col -->
        </div>
        <!-- /.row -->
        <div class="row col-lg-6">
          <h2>Add New Supplier</h2>
          <form method="POST" id="add-supplier">
            <div class="from-group">
              <div class="form-row">
              <label for="name">Name</label>
                {{supplierform.name(size=55,class="form-control")}}<br>
              <label for="email" >Email</label>
                {{supplierform.email(size=55, class="form-control")}}<br>
                </div>
                <div class="form-row">
                  <div class="col-md-4">
                <label  for="lead_time">Lead Time (Days)</label>
                  {{supplierform.lead_time(size=4, class="form-control")}}
                  </div>
                  <div class="col-md-4">
                <label  for="lead_time">Default Unit Cost</label>
                  {{supplierform.default_cost(size=4, class="form-control")}}
                </div>
                <div class="col-md-4">
                <label  for="lead_time">Default First Cost</label>
                  {{supplierform.default_first_cost(size=4, class="form-control")}}
                </div>
                </div>

              <label for="notes">Notes</label>
                {{supplierform.notes(class="form-control")}}

              {{ supplierform.hidden_tag() }}
              {{supplierform.CSRF}}
              <div class="float-right">
                {{supplierform.submit(class="btn btn-primary")}}
              </div>
              </div>
          </form>

        </div>
        <!-- Main row -->
        <div class="row col-lg-12 clearfix">
          <table id="dtBasicExample" class="table table-striped table-bordered table-sm">
            <button class="float-left" onclick="exportTableToCSV('stockboy-report.csv')">Export Table To CSV</button>

            <thead>
                <tr>
                    <th class="th-sm">ID</th>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Email</th>
                    <th class="th-sm">Lead Time</th>
                    <th class="th-sm">Default Unit Cost</th>
                    <th class="th-sm">Default First Cost</th>
                    <th class="th-sm">Notes</th>
                    <th class="th-sm">Edit</th>
                    <th class="th-sm">Delete</th>

                </tr>
            </thead>
            <tbody >
              {% for item in session['supplier_dict'].values() %}
                <tr>
                  <form id="{{ item['_id'] }}">
                    <td width="5%">{{ item['_id']|string|truncate(8, True)}}  </td>
                    <td width="50%">{{item['name']}}</td>
                    <td width="10%">{{item['email']}}</td>
                    <td width="5%">{{item['lead_time']}}</td>
                    <td width="5%">{{item['default_cost']}} </td>
                    <td width="5%">{{item['default_first_cost']}} </td>
                    <td width="25%">{{item['notes']|urlize}}</td>
                    <td width="10%">Edit
                      <span class="saved-text" style="display:none;">Saved!</span>
                    </td>
                    <td width="10%"><a class='delete' href='./delete/{{item["_id"] }}'>Delete</a>
                      <span class="deleted-text" style="display:none;">Deleted!</span>

                    </td>
                  </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
          </div>

    </section>
    <!-- /.Left col -->

  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->
{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Flask-Admin example</h1>
      <p class="lead">
        Authentication
      </p>
      <p>
        This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
      </p>
      {% if not current_user.is_authenticated %}

      <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

        email: <b>admin</b> <br>
        password: <b>admin</b> <br>
        <br>
        <p>
          <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
        </p>
        {% endif %}
        <br>
        <p>
          <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </p>
      </div>
    </section>
  </center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  {% endif %}

  {% endblock body %}

  {% block tail %}
  <script>
    $(document).ready(function () {
      $('#dtBasicExample').DataTable({
       "paging": false, // false to disable pagination (or any other option)
       "order":[[5, "desc"]],
       'iDisplayLength' : 100,
       "language":{
         "search":"",
         "searchPlaceholder":"Search. . ."
        }
        });
    $('.dataTables_length').addClass('bs-select');
  });
  </script>
  <script>
    $(document).ready(function() {
        $('.delete').click(function (e) {
            var form_id = $(this).attr('id');
            var url = "delete/"+form_id; // send the form data here.
            $.ajax({
                type: "POST",
                url: url,
                data: $('form#'+form_id).serialize(), // serializes the form's elements.
                success: function (data) {
                    $('#'+form_id + ' span.deleted-text').fadeIn(400).fadeOut(400)
                    console.log(data)  // display the returned data in the console.
                }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });
        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ supplierform.csrf_token._value() }}")
                }
            }
        })
    });
</script>

  <script>
  function downloadCSV(csv, filename) {
      var csvFile;
      var downloadLink;
      // CSV file
      csvFile = new Blob([csv], {type: "text/csv"});
      // Download link
      downloadLink = document.createElement("a");
      // File name
      downloadLink.download = filename;
      // Create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);
      // Hide download link
      downloadLink.style.display = "none";
      // Add the link to DOM
      document.body.appendChild(downloadLink);
      // Click download link
      downloadLink.click();
  }
        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");
                for (var j = 0; j < cols.length; j++)
                    row.push('"'+cols[j].innerText+'"');
                csv.push(row.join(","));
            }
            // Download CSV file
            downloadCSV(csv.join("\n"), filename);
        }
  </script>

  <script>
    $(".delete").click(function(){
    $.ajax({
      type: 'POST',
      url: './supplier/delete/'+ $this.href,
      dataType: "text",
      success: function(data){
                 alert("Deleted Supplier ");
               }
    });
});
</script>
  {% endblock tail %}
