{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated %}


<section class="content">
    <!-- Left col -->
        <section class="content-header">
                <h1>Settings & Import</h1>
                  <small>Account Settings and Data Import</small>
          <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
              <li class="active">Settings & Import</li>
          </ol>
        </section>
        <section class="content-header">
<div class="user-profile">

  <div class="row float-left">
    <div class="col-md-8 col-md-offset-2">

      <div class="card card-info">
        <div class="card-header">ShipStation API </div>
        <form method="POST">
        <div class="card-body" id="ss-api-form">
          <h2><a href="https://ss6.shipstation.com/#/settings/api">Get your API Key Here</a></h2>
          <label for="apiform-key">API Key</label>
        {{apiform.key(size=55, value=current_user.ss_key ) }}<br><br>
          <label for="apiform-secret">API Secret</label>
          {{apiform.secret(size=55, value = current_user.ss_secret) }}<br><br>
          {{apiform.submit}}
        </div>

        </form>

        {% endif %}
      </div>
          <div class="card card-info file">
            <div class="card-header"><h2>Inventory Uploads</h2></div>
            <div class="card-body">
              <h2>Last Updated: {% if current_user.inventory_updated %}{{current_user.inventory_updated}}{% else %}Never{% endif %}</h2>
              <ol>
                <li>Go to: <a href="https://ss6.shipstation.com/#/dashboard/reports">Shipstation Reports</a></li>
                <li>Click <a href="https://ss6.shipstation.com/#/dashboard/report/InvStock">Inventory Status Report</a></li>
                <li>Group Products by Parent SKU: <strong>No</strong></li>
                <li>Click Export to Excel</li>
              </ol>
            <h4>Upload Here:</h4>
            <form method="POST" enctype="multipart/form-data">
              {{ inventoryform.hidden_tag() }}
              {{ inventoryform.file}}
              {{inventoryform.submit}}
            </form>
        </div>
      </div>
      <div class="card card-info file">
        <div class="card-header"><h2>Alias Uploads</h2></div>
        <div class="card-body">
          <h2>Last Updated: {% if current_user.alias_updated %}{{current_user.alias_updated}}{%else%}Never{% endif %}</h2>
          <ol>
            <li>Go to: <a href="https://ss6.shipstation.com/#/dashboard/reports">Shipstation Reports</a></li>
            <li>Click <a href="https://ss6.shipstation.com/#/dashboard/report/ProductAliasExtract">Product Aliases Export</a></li>
            <li>Show Product Aliases for : <strong>All Product SKUs</strong></li>
            <li>Click Export to Excel</li>
          </ol>
        <h4>Upload Here:</h4>
        <form method="POST" enctype="multipart/form-data">
          {{ aliasform.hidden_tag() }}
          {{ aliasform.file}}
          {{aliasform.submit}}
        </form>
    </div>
    <div class="card card-info file">
      <div class="card-header"><h2>FBA Upload</h2></div>
      <div class="card-body">
        <h2>Last Updated: {% if current_user.fba_updated %}{{current_user.fba_updated}}{%else%}Never{% endif %}</h2>
        <ol>
          <li>Go to: <a href="https://sellercentral.amazon.com/gp/ssof/reports/search.html#orderAscending=&recordType=FBA_MYI_UNSUPPRESSED_INVENTORY&noResultType=&merchantSku=&fnSku=&FnSkuXORMSku=&reimbursementId=&orderId=&genericOrderId=&asin=&lpn=&shipmentId=&problemType=ALL_DEFECT_TYPES&hazmatStatus=&inventoryEventTransactionType=&fulfillmentCenterId=&transactionItemId=&inventoryAdjustmentReasonGroup=&eventDateOption=1&fromDate=mm%2Fdd%2Fyyyy&toDate=mm%2Fdd%2Fyyyy&startDate=&endDate=&fromMonth=1&fromYear=2019&toMonth=1&toYear=2019&startMonth=&startYear=&endMonth=&endYear=&specificMonth=1&specificYear=2019">Manage FBA Inventory</a></li>
          <li>Click: Request Download</li>
          <li>Wait for request to process.</li>
          <li>Click Download</li>
        </ol>
      <h4>Upload Here:</h4>
      <form method="POST" enctype="multipart/form-data">
        {{ fbaform.hidden_tag() }}
        {{ fbaform.file}}
        {{fbaform.submit}}
      </form>
  </div>
  </div>

  <div class="card">
    <div class="card-header">Email Address</div>
    <div class="card-body">{{current_user.email}}</div>
  </div>

  <div class="card card-info">
    <div class="card-header">Account Actions</div>
    <div class="card-body"><a href="../change/">Change Password</a></div>
    {% if current_user.email_confirmed %}
    {% else %}
    {% if not current_user.email_confirmed %}
    {% endif %}
      <div class="card-body"><strong>Features Placeholder</strong><ul>
        <li>Ignore QTY shipped to Amazon?</li>
        <li>Calculate Discounts per-item?</li>
        <li>Timezone</li>
        <li>Week Starts On</li>
        <li>Ignore weekends for shipping speed</li>
      </ul>


  </div>



  </div>
</div>
</section>
{% endif %}

{% endblock %}
